<!DOCTYPE>
<html>
  <head>
    <title>Search Results</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>

  <body>
    <section>
      <header>
        <h1><a href='/'>Media Search</a></h1>
      </header>
      <p id="loadingMessage" style="display: none;">LOADING...</p>

      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Size</th>
            <th>Seeders</th>
            <th>Leechers</th>
          </tr>
        </thead>
        <tbody>
          <% searchResults.forEach(function(result) { %>
          <tr
            onclick="showLoading(); window.location.href=
            '/choice?magnetLink=<%= encodeURIComponent(result.magnetLink) %>&name=<%= encodeURIComponent(result.name) %>'"
            style="cursor:pointer;">

            <td><%= result.name %></td>
            <td><%= result.size %></td>
            <td><%= result.seeders %></td>
            <td><%= result.leechers %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </section>
    <script type="text/javascript">
      function showLoading() {
        document.getElementById('loadingMessage').style.display = 'block';
      }
    </script>
  </body>
</html>
